page-home{
  .page-home {
    /* background-color: #F30000; */
    background-image: url("../assets/imgs/pokedex1.png");
    background-size: cover;
    background-repeat: no-repeat;
    .top-thirty{
      padding-top: 75%;
    }
  }
  .poke-red-background{
    background-color: red;
  }
  ion-footer{
    bottom: 5%;
    .toolbar-background-md{
      background: none;
    }
    ion-toolbar{
      text-align: center;
      ion-icon{
        font-size: 4.2em;
        color: crimson;
      }
    }
  }
}
